*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(rgb(153, 111, 69), rgb(255, 255, 255));
    padding-bottom: 55px;
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px; 
    padding-left: 70px;   
    padding-right: 70px; 
    background-color: #594232;
}
nav{
    flex:  1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.mainlogo{
    max-width: 100%;
    float:right;
    padding: 10px;
}
.top3{
    width: 800px;
    margin-top: -50px
}


/*paste your content here*/
.milkteabg{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.secondnavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 70px;   
    padding-right: 70px; 
    margin-top: -5px;
    background-color: #2e2017;
}
.navtitle{
    color: #fff;
}



.footer{
    margin-top: -75px;
    background: #594232;
    color: #ffffff;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #ffffff;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 220px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}





.categories{
    margin: 40px 0;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    background-color: #fff;
}
.col-3 img{
    width: 100%;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #ffffff;
}
.title::after{
    content: '';
    background: rgb(225, 207, 188);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: rgb(255, 234, 0);
}
.col-4:hover{
    transform: translateY(-5px);
}

.descp{
    background-color: rgb(133, 91, 64); 
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h4{
    color: #ffffff;
}


.descp p{
    color: #ffffff;
    display: inline-block;
    padding: 5px;
    margin-right: 90px;
    margin-top: 10px;
    background-color: rgb(75, 189, 55);
}
.descp button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #eecca8;
    font-weight: 700;
}

.descp button:hover{
    background-color: #2e2017;
    color: #fff;
    transition: background 0.5s;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 500px;
}
.mainlogo{
    max-width: 100%;
    float:right;
    padding: 20px;
    border-radius: 500px;
    box-shadow: 5px 10px 8px #888888;
}
.col-2 img{
    max-width: 100%;
    float:right;
    padding: 20px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #402419;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(110, 50, 28);
}

.offer{
    background-image: radial-gradient(rgb(255, 255, 255), rgb(171, 107, 75));
    margin-top: 80px;
    padding: 30px, 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}


.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.fa.fa-quote-left{
    font-size: 30px;
    color:rgb(57, 27, 16);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 15px;;
}



.brands{
    margin-bottom: -20px;
    padding-top:100px;
    padding-bottom: 100px;
    background-image: linear-gradient(rgb(255, 246, 241),rgb(153, 97, 69));
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}






/* all products */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #69513f;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #70563b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #70563b;
    color: white;
}

/* single product detail */

.single-product{
    margin-top: 80px;
}
.single-product col-2{
    padding: 20px;
}
.single-product col-2 img{
    padding: 0;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #70563b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #b18d66;
    margin-left: 10px;
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .c0l-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align:left;
    }
    .single-product .col-2{
        padding: 20px;
    }
}