*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(rgb(153, 111, 69), rgb(255, 255, 255));
    padding-bottom: 55px;
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px; 
    padding-left: 70px;   
    padding-right: 70px; 
    background-color: #594232;
}
nav{
    flex:  1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.mainlogo{
    max-width: 100%;
    float:right;
    padding: 10px;
}


/*paste your content here*/

h2 {
	font-weight: bold;
    margin: 0;
}

form p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
}

span {
	font-size: 12px;
    align-self: self-start;
    margin-bottom: 25px;
    margin-top: 25px;

}

form a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 10px;
	border: 1px solid #a37c53;
	background-color: #a37c53;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.signin{
    width: 100%;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 10px 10px;
	margin: 8px 0 10px;
	width: 49%;
}


.style {
    display: inline-block;
}

.sucontainer {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.signup-container {
	right: 0;
	width: 55%;
	z-index: 2;
}

.slogo{
    top: 25px;
    position: absolute;
    width: 250px;
    left: 430px;
}
.mt2{
    width: 400px;
	position: absolute;
    left: 180px;
}
.text{
    color: #eee;
    text-align: start;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    margin: 60px;
    top: 150px;
    left: 450px;
}
.overlay-container {
	position: absolute;
	top: 0;
	right: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #ffe7ec;
	background: -webkit-linear-gradient(to left, #ffeeda, #ffe5c7);
	background: linear-gradient(to left, #e1bd91, #5e4932);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 190%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 100%;
}


.overlay-left {
	left: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


.footer{
    margin-top: -75px;
    background: #594232;
    color: #ffffff;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #ffffff;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 220px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}